html,
body {
  background-image: url("world-continent.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

button {
  color: rgb(8, 8, 8);
  font-size: 15px;
  font-weight: 700;
  padding: 5px 30px;
  border-radius: 60px;
  border-color: transparent;
  cursor: pointer;
  right: 25px;
  top: 10px;
  margin-left: 30px;
  margin-bottom: 40px;
  width: flex;
}

.finish {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
  margin-top: 15px;
}